* {
  margin: 0;
  padding: 0;
}

#firstBookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Assets/libreriaVacia2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.listStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 25rem;
  height: 3rem;
  background-image: url(./Assets/Lomo-del-libro.jpg);
  background-repeat: no-repeat;
}

.removeBtn {
  height: 100%;
}
